// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Bootstrap icons
@import 'bootstrap-icons/font/bootstrap-icons.css';

@import 'https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css';

.cerrarsesion{
    color: red;
}

ul{
    list-style-type: none;
}

.btnregistrocancel{
    margin-right: 15px!important;
}

.btnlinkregistro{
    margin: 15px;
}

.active a{
    color:darkgoldenrod;
    text-decoration:none;
}

.large-checkbox {
    transform: scale(1.5);
    margin-right: 10px;
}

.pdf-container {
    position: relative;
    width: 100%;
    padding-top: 100%; /* Esto mantiene el aspect ratio del contenedor */
}

.pdf-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 85vh;
    margin: 0;
}

.content {
    flex: 1;
}

footer{
    text-align: center;
    background-color: aliceblue;
    padding: 10px;

}
